h1 {
  color: Grey;
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: center;
}

p {
  font-family: sans-serif;
}

.color {
  color: #C0C0C0;
  font-style: italic;
}

.BBQ {
  color: #BB8FCE;
  font-style: normal;
}
.sidebar {
  float: right;
  background-color: pink;
}

.About {
  border: 3px solid green;
  padding: 5px;
  margin: 15px;
  background-color: purple;
}

.great{
  border: 6px solid orange;
  padding: 6px;
  margin: 20px;
  background-color: Grey;
}
